htadadaml, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* background: url('../assets/island.jpg') no-repeat center center fixed;
  background-size: cover; */
}
